@import "vars";

.Checkout {
  width: 100%;
  height: calc(100vh - 61px);
  display: grid;
  place-items: center;
}
.title {
  font-size: var(--lg);
  margin-bottom: 40px;
}
.Checkout-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.Checkout-title-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.Checkout-title {
  font-size: 1rem;
}
.Checkout-back {
  padding: 0.5rem;
  border-radius: 0.25rem;
  background: var(--text-input-field);
  text-align: center;
  display: flex;
}
.Checkout-arrow {
  transform: rotate(180deg);
  transition: transform 0.3s ease, background 0.3s ease;
}
.Checkout-back:hover .Checkout-arrow {
  transform: translateX(-0.25rem) rotate(180deg);
}
.Checkout-content {
  display: flex;
  flex-direction: column;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p span:nth-child(2) {
  font-size: var(--sm);
  color: var(--very-light-pink);
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}
