@import "vars";

.CreateAccount {
  width: 100%;
  height: calc(100vh - 61px);
  display: grid;
  place-items: center;
}
.CreateAccount-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.title {
  font-size: var(--lg);
  margin-bottom: 36px;
  text-align: start;
}
.CreateAccount-form {
  display: flex;
  flex-direction: column;
}
.CreateAccount-form div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.CreateAccount-input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  font-size: var(--md);
  padding: 0.75rem 0.5rem;
}
.CreateAccount-input:hover {
  opacity: 0.8;
}
.CreateAccount-input:focus {
  box-shadow: 0 0 0 2px var(--hospital-green);
}
.input-name,
.input-email,
.input-password {
  margin-bottom: 22px;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
.small-text {
  color: var(--hospital-green);
  font-size: var(--sm);
  text-align: center;
}
@media (max-width: 640px) {
  .form-container {
    height: 100%;
  }
  .form {
    height: 100%;
    justify-content: space-between;
  }
}
