@import "vars";

.Login {
  width: 100%;
  height: calc(100vh - 61px);
  display: grid;
  place-items: center;
}
.Login-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}
.logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}
.Login-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.Login-form a {
  color: var(--hospital-green);
  font-size: var(--sm);
  text-align: center;
  text-decoration: none;
  margin-bottom: 52px;
}
.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}
.Login-input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  font-size: var(--md);
  padding: 0.75rem 0.5rem;
  transition: box-shadow 0.3s ease-in-out;
}
.Login-input:hover {
  opacity: 0.8;
}
.Login-input:focus {
  box-shadow: 0 0 0 2px var(--hospital-green);
}

.input-email {
  margin-bottom: 22px;
}
.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}
.secondary-button {
  background-color: var(--white);
  border-radius: 8px;
  border: 1px solid var(--hospital-green);
  color: var(--hospital-green);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  transition: box-shadow 0.3s ease;
}
.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}
.secondary-button:hover {
  box-shadow: 0 0.5rem 1.25rem -0.5rem var(--hospital-green);
}
@media (max-width: 640px) {
  .logo {
    display: block;
  }
}
