@import "vars";

.Menu {
  // width: 100px;
  height: auto;
  border: 1px solid var(--very-light-pink);
  border-radius: 6px;
  padding: 20px 20px 0 20px;
  position: absolute;
  top: 4rem;
  right: 3.5rem;
}
.Menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.BtnContent {
  text-align: end;
}
.MenuBtn.textBtnPrimary {
  font-weight: bold;
  transition: color 0.5s ease;
}
.MenuBtn.textBtnPrimary:hover {
  color: var(--hospital-green);
}
.BtnContent:last-child {
  padding-top: 20px;
  border-top: 1px solid var(--very-light-pink);
}
.MenuBtn.textBtnAlert {
  color: var(--hospital-green);
  font-size: var(--sm);
  transition: color 0.5s ease;
}
.MenuBtn.textBtnAlert:hover {
  color: var(--alert);
}
.MenuBtn {
  color: var(--back);
  text-decoration: none;
  margin-bottom: 20px;
  display: inline-block;
}
