@import "vars";

.MyOrder {
  width: 400px;
  padding: 24px;
  box-sizing: border-box;
  position: absolute;
  right: 0;
  background: #fff;
  top: 60px;
  bottom: 0;
  border-radius: 0 0 1rem 1rem;
  box-shadow: -0.25rem 0.5rem 1.5rem rgba(145, 145, 145, 0.1);
  overflow-y: scroll;
}
.title-container-my-order {
  display: flex;
  padding: 0.5rem 0;
  gap: 1rem;
  cursor: pointer;
}
.title-container-my-order img {
  transform: rotate(180deg);
  margin-right: 0;
  transition: transform 0.3s ease;
}
.title-container-my-order:hover img {
  transform: translateX(-0.25rem) rotate(180deg);
}
.title-myOrder {
  font-size: var(--lg);
  font-weight: bold;
}
.order {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
  align-items: center;
  background-color: var(--text-input-field);
  margin-bottom: 24px;
  border-radius: 8px;
  padding: 0 24px;
}
.order p:nth-child(1) {
  display: flex;
  flex-direction: column;
}
.order p span:nth-child(1) {
  font-size: var(--md);
  font-weight: bold;
}
.order p:nth-child(2) {
  text-align: end;
  font-weight: bold;
}

.primary-button {
  background-color: var(--hospital-green);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  transition: box-shadow 0.3s ease;
}
.primary-button:hover {
  box-shadow: 0 0.5rem 1.25rem -0.5rem var(--hospital-green);
}

@media (max-width: 640px) {
  .MyOrder {
    width: 100%;
  }
}
